<script type="text/javascript">
// API
  window.tmdbAPIKey = '<%= Rails.application.credentials.tmdb[:api_key] %>'

// website img
  window.logoImage = '<%= image_url('rotten_egg.png')%>';
  window.demoImage = "<%= image_url('demo_egg.png') %>";
  window.githubImage = '<%= image_url('github.png') %>';
  window.emailImage = '<%= image_url('email.png') %>';
  window.badImage = '<%= image_url('Bad_Egg.png') %>';
  window.arghImage = '<%= image_url('argh.png') %>';
  window.goodImage = '<%= image_url('good.png') %>';
  window.mehImage = '<%= image_url('meh.png') %>';
  window.NAImage = '<%= image_url('NA.png') %>';
  window.BGImage = '<%= image_url('bg.gif') %>';
  window.showImage = '<%= image_url('showBG.gif') %>';
  window.footerImage = '<%= image_url('footer.png') %>';
  window.nqImage = '<%= image_url('nq.png') %>';
  window.linkinImage = '<%= image_url('linkedIn.png') %>';


// movies img
  window.abmmImage = '<%= image_url('always_be_my_maybe.jpg') %>';
  window.craImage = '<%= image_url('cra.jpg') %>';
  window.catImage = '<%= image_url('cat.jpg') %>';
  window.dkImage = '<%= image_url('dark_knight.jpg') %>';
  window.dpikaImage = '<%= image_url('detective_pikachu.jpg') %>';
  window.dwpImage = '<%= image_url('devil_wears_prada.jpg') %>';
  window.dballImage = '<%= image_url('dragonball.jpg') %>';
  window.godfatherImage = '<%= image_url('godfather.jpg') %>';
  window.gwallImage = '<%= image_url('great_wall.jpg') %>';
  window.incrediblesImage = '<%= image_url('incredibles.jpg') %>';
  window.interviewImage = '<%= image_url('interview.jpg') %>';
  window.jokerImage = '<%= image_url('joker.jpg') %>';
  window.koImage = '<%= image_url('knives_out.jpg') %>';
  window.blackmanImage = '<%= image_url('last_blackman.jpg') %>';
  window.panlabImage = '<%= image_url('pan_labyrinth.jpg') %>';
  window.ratImage = '<%= image_url('ratatouille.jpg') %>';
  window.rotkImage = '<%= image_url('return_of_king.jpg') %>';
  window.revenantImage = '<%= image_url('revenant.jpg') %>';
  window.rh2Image = '<%= image_url('rh2.jpg') %>';
  window.rskImage = '<%= image_url('rise_of_sky_walker.jpg') %>';
  window.searchingImage = '<%= image_url('searching.jpg') %>';
  window.ts4Image = '<%= image_url('toy_story.jpg') %>';
  window.upImage = '<%= image_url('up.jpg') %>';

</script>

<main id="root"></main>