<script type="text/javascript">
// API
  window.tmdbAPIKey = '<%= Rails.application.credentials.tmdb[:api_key] %>'

// website img
  window.logoImage = '<%= image_url('rotten_egg.png')%>';
  window.demoImage = "<%= image_url('demo_egg.png') %>";
  window.githubImage = '<%= image_url('github.png') %>';
  window.emailImage = '<%= image_url('email.png') %>';
  window.badImage = '<%= image_url('Bad_Egg.png') %>';
  window.arghImage = '<%= image_url('argh.png') %>';
  window.goodImage = '<%= image_url('good.png') %>';
  window.mehImage = '<%= image_url('meh.png') %>';
  window.NAImage = '<%= image_url('NA.png') %>';
  window.BGImage = '<%= image_url('bg.gif') %>';
  window.showImage = '<%= image_url('showBG.gif') %>';
  window.footerImage = '<%= image_url('footer.png') %>';
  window.nqImage = '<%= image_url('nq.png') %>';
  window.linkinImage = '<%= image_url('linkedIn.png') %>';

</script>

<main id="root"></main>